*{
    font-family: Arial, Helvetica, sans-serif;
}
#center {
    position: absolute;
    top: 40%;
    left: 39%;
}
#imgcenter{
    margin-left: 100px;
    margin-bottom: 20px;
}
#buttoncenter{
    text-align: center;
    margin: 0 auto;
}
.links{
    text-decoration: none;
    font-size: 13px;
    color: #5B595E;
    padding-right: 20px;
}
input[type=text]{
    border: 1px solid lightgrey;
    text-align: center;
    padding: 20px;
    width: 430px;
    height: 5px;
    border-radius: 20px;
}
#imgmore{
    max-width: 14px;
    height: auto;
    opacity: 60%;
    padding-right: 14px;
}
.buttonstyle{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.1);
    cursor: pointer;
    color: #424242;
    font-size: 15px;
    margin: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
#navleft{
    float: left;
    margin: 10px;
    padding: 10px;
}

#navright{
    float: right;
    margin: 10px;
    padding: 10px;
}
#navButton{
    background-color: #4387fd;
    text-decoration: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 7px 15px;
    font-size: 12px;
    
}

#submitcenter{
    margin-left: 50px;
}